.hideMe{
  display: none;
}

#triangle {
  float:left;
  margin-top:25px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;

  border-bottom: 0px solid red;
}
